.tabs {
  padding-bottom: 100px;
  &__tab-nav-btn {
    padding: 10px 15px;
    background: white;
    color: #5CBE3A ;
    border: 1px solid #5CBE3A;
    cursor: pointer;
    &.active {
      color: white;
      background: #5CBE3A ;

    }
  }
  &__content {
    margin: 25px 0;
    width: 60%;
    &-item {
      display: none;
      &.active {
        display: flex;
      }
    }
  }

}